# Settings

In [1]:
import os

if os.getcwd().endswith("notebooks"):
    os.chdir("..")
print(os.getcwd())

/Users/cmcoutosilva/Projects/github/nl2sql-agent

In [2]:
import pandas as pd
import sqlparse
import yaml
from sqlalchemy import create_engine, text

from nl2sql.utils import print_section

## Database connection

In [3]:
db_uri = "postgresql+psycopg://postgres:postgres@localhost:5432/olist_ecommerce"

engine = create_engine(db_uri)

# SQL Examples

In [4]:
# Load SQL examples from YAML file
with open("knowledge/sql_examples.yml") as f:
    raw_sql_examples = yaml.safe_load(f)

# Display raw SQL examples
print("Display raw SQL examples:")
print(raw_sql_examples)

Display raw SQL examples:
{'total_orders': {'question': 'How many orders are there in total?', 'sql': 'SELECT COUNT(*) FROM "ecommerce"."orders"'}, 'orders_by_status': {'question': 'What is the distribution of orders by status?', 'sql': 'SELECT "order_status", COUNT(*) FROM "ecommerce"."orders" GROUP BY "order_status"'}, 'top_cities': {'question': 'Which cities have the most customers?', 'sql': 'SELECT "customer_city", COUNT(*) FROM "ecommerce"."customers" GROUP BY "customer_city" ORDER BY COUNT(*) DESC LIMIT 10'}, 'orders_with_customer': {'question': 'Show me orders with customer information', 'sql': 'SELECT o."order_id", o."order_status", c."customer_city" FROM "ecommerce"."orders" o JOIN "ecommerce"."customers" c ON o."customer_id" = c."customer_id"'}, 'monthly_revenue': {'question': 'What is the total revenue by month?', 'sql': 'SELECT DATE_TRUNC(\'month\', o."order_purchase_timestamp") as month, SUM(oi."price") as revenue FROM "ecommerce"."orders" o JOIN "ecommerce"."order_items" oi ON o."order_id" = oi."order_id" GROUP BY month ORDER BY month'}, 'popular_categories': {'question': 'What are the most popular product categories?', 'sql': 'SELECT p."product_category_name", COUNT(*) FROM "ecommerce"."order_items" oi JOIN "ecommerce"."products" p ON oi."product_id" = p."product_id" GROUP BY p."product_category_name" ORDER BY COUNT(*) DESC'}}

In [5]:
# Display formatted SQL examples
for title_context, sql_example in raw_sql_examples.items():
    print_section(title_context)

    formatted_query = sqlparse.format(sql_example["sql"], reindent=True)
    print(sql_example["question"])
    print(f"```sql\n{formatted_query}\n```")
    print()

total_orders
============
How many orders are there in total?
```sql
SELECT COUNT(*)
FROM "ecommerce"."orders"
```

orders_by_status
================
What is the distribution of orders by status?
```sql
SELECT "order_status",
       COUNT(*)
FROM "ecommerce"."orders"
GROUP BY "order_status"
```

top_cities
==========
Which cities have the most customers?
```sql
SELECT "customer_city",
       COUNT(*)
FROM "ecommerce"."customers"
GROUP BY "customer_city"
ORDER BY COUNT(*) DESC
LIMIT 10
```

orders_with_customer
====================
Show me orders with customer information
```sql
SELECT o."order_id",
       o."order_status",
       c."customer_city"
FROM "ecommerce"."orders" o
JOIN "ecommerce"."customers" c ON o."customer_id" = c."customer_id"
```

monthly_revenue
===============
What is the total revenue by month?
```sql
SELECT DATE_TRUNC('month', o."order_purchase_timestamp") as month,
       SUM(oi."price") as revenue
FROM "ecommerce"."orders" o
JOIN "ecommerce"."order_items" oi ON o."order_id" = oi."order_id"
GROUP BY month
ORDER BY month
```

popular_categories
==================
What are the most popular product categories?
```sql
SELECT p."product_category_name",
       COUNT(*)
FROM "ecommerce"."order_items" oi
JOIN "ecommerce"."products" p ON oi."product_id" = p."product_id"
GROUP BY p."product_category_name"
ORDER BY COUNT(*) DESC
```

In [6]:
# Execute example query on the database
example_query = raw_sql_examples["orders_by_status"]["sql"]

with engine.connect() as conn:
    result = conn.execute(text(example_query))
    display(pd.DataFrame(result.fetchall()))

  order_status  count
0      shipped   1107
1  unavailable    609
2     invoiced    314
3      created      5
4     approved      2
5   processing    301
6    delivered  96478
7     canceled    625