# SQL Examples Usage

This notebook demonstrates how to use the `SQLExample` class from `nl2sql.knowledge_base.sql_examples`.

In [1]:
import os

if os.getcwd().endswith("notebooks"):
    os.chdir("..")
print(os.getcwd())

/Users/cmcoutosilva/Projects/github/nl2sql-agent

In [2]:
from nl2sql.knowledge_base.sql_examples import SQLExample
from nl2sql.utils import print_section

## Load SQL Examples from YAML

In [3]:
# Load SQL examples from YAML file
sql_examples = SQLExample.from_yaml("knowledge/sql_examples.yml")

print(f"Loaded {len(sql_examples)} SQL examples")
print("\nExample titles:")
for title in sql_examples.keys():
    print(f"- {title}")

Loaded 6 SQL examples

Example titles:
- total_orders
- orders_by_status
- top_cities
- orders_with_customer
- monthly_revenue
- popular_categories

## Display Individual Examples

In [4]:
# Display a specific example
example = sql_examples["total_orders"]
print_section("total_orders")
print(example.format_context())

total_orders
============
Question: How many orders are there in total?
```sql
SELECT COUNT(*)
FROM "ecommerce"."orders"
```

In [5]:
# Display all examples
print_section("All SQL Examples")
formatted_examples = SQLExample.format_all_for_prompt(sql_examples)
print(formatted_examples)

All SQL Examples
================
Question: How many orders are there in total?
```sql
SELECT COUNT(*)
FROM "ecommerce"."orders"
```

Question: What is the distribution of orders by status?
```sql
SELECT "order_status",
       COUNT(*)
FROM "ecommerce"."orders"
GROUP BY "order_status"
```

Question: Which cities have the most customers?
```sql
SELECT "customer_city",
       COUNT(*)
FROM "ecommerce"."customers"
GROUP BY "customer_city"
ORDER BY COUNT(*) DESC
LIMIT 10
```

Question: Show me orders with customer information
```sql
SELECT o."order_id",
       o."order_status",
       c."customer_city"
FROM "ecommerce"."orders" o
JOIN "ecommerce"."customers" c ON o."customer_id" = c."customer_id"
```

Question: What is the total revenue by month?
```sql
SELECT DATE_TRUNC('month', o."order_purchase_timestamp") as month,
       SUM(oi."price") as revenue
FROM "ecommerce"."orders" o
JOIN "ecommerce"."order_items" oi ON o."order_id" = oi."order_id"
GROUP BY month
ORDER BY month
```

Question: What are the most popular product categories?
```sql
SELECT p."product_category_name",
       COUNT(*)
FROM "ecommerce"."order_items" oi
JOIN "ecommerce"."products" p ON oi."product_id" = p."product_id"
GROUP BY p."product_category_name"
ORDER BY COUNT(*) DESC
```

## Create New SQL Examples

In [6]:
# Create a new SQL example
new_example = SQLExample(
    question="What is the average order value?",
    sql="SELECT AVG(oi.price) FROM ecommerce.order_items oi"
)

print_section("New Example")
print(new_example.format_context())

New Example
===========
Question: What is the average order value?
```sql
SELECT AVG(oi.price)
FROM ecommerce.order_items oi
```

## Save Examples to YAML

In [7]:
# Add new example to collection
sql_examples["avg_order_value"] = new_example

# Save to YAML file
output_path = SQLExample.save_yaml(sql_examples, "knowledge/sql_examples_updated.yml")
print(f"Saved {len(sql_examples)} examples to {output_path}")

Saved 7 examples to knowledge/sql_examples_updated.yml

## Access Example Properties

In [8]:
# Access individual properties
example = sql_examples["orders_by_status"]
print_section("Example Properties")
print(f"Question: {example.question}")
print(f"SQL: {example.sql}")
print(f"\nFormatted context:\n{example.format_context()}")

Example Properties
==================
Question: What is the distribution of orders by status?
SQL: SELECT "order_status", COUNT(*) FROM "ecommerce"."orders" GROUP BY "order_status"

Formatted context:
Question: What is the distribution of orders by status?
```sql
SELECT "order_status",
       COUNT(*)
FROM "ecommerce"."orders"
GROUP BY "order_status"
```